.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:18px 60px;
  background:#f7f7f7;
  z-index:1000;
}

/* container */

.nav-container{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

/* logo */

.logo img{
  height:35px;
  width:auto;
}

/* menu links */

.nav-links{
  display:flex;
  gap:40px;
  align-items:center;
  font-size:15px;
}

.nav-links a{
  text-decoration:none;
  color:#555;
  font-weight:500;
  transition:0.3s;
}

.nav-links a:hover{
  color:#caa233;
}

/* icons */

.nav-icons{
  display:flex;
  gap:25px;
  font-size:18px;
  color:#777;
  cursor:pointer;
}

.nav-icons span:hover{
  color:#caa233;
}

/* hamburger */

.hamburger{
  display:none;
  font-size:28px;
  cursor:pointer;
}

/* mobile menu */

.mobile-menu{
  display:none;
}

/* ================= MOBILE ================= */

@media (max-width:768px){

  .navbar{
    padding:20px 30px;
  }

  .nav-links{
    display:none;
  }

  .nav-icons{
    display:none;
  }

  .hamburger{
    display:block;
  }

  .mobile-menu{
    display:flex;
    flex-direction:column;
    gap:25px;
    padding:40px 25px;
    font-size:16px;
    background:#f7f7f7;
  }

  .mobile-menu a{
    text-decoration:none;
    color:#444;
  }

  .logo img{
  height:34px;
 
}

}